@import "stylesheet.css";
.iframe-container iframe {
    width: 100%;
    height: calc(100vh - 100px);
    border: 0;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: transparent;
}

body {
    font-family: 'Roboto';
    overflow: hidden;
}

::-webkit-scrollbar-thumb {
    background: #4A545E;
}

::-webkit-scrollbar {
    width: 5px;
    background: #2B2B2B;
}

.main-block {
    padding-top: 100px;
    background: transparent;
}

a {
    text-decoration: none;
    color: #4A545E;
}

.detail {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 20px;
    height: calc(100vh - 50px);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
}

.detail h2 {
    font-family: 'Montserrat';
    margin: 0px;
    margin-bottom: 10px;
    font-size: 35px;
}

.image-background {
    background: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 350px;
    z-index: -1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.image-background::after {
    content: "";
    background: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.button-back {
    border: 0px;
    background: transparent;
    z-index: 999;
    position: fixed;
    margin: 15px;
}

.button-back img {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 24px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.minificado .iframe-container {
    margin-top: -50px !important;
}

.minificado .detail {
    height: 100vh;
    box-shadow: none;
    margin-top: 0px;
    background: #1C1C1C;
    padding: 0px;
    padding-right: 15px;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.minificado .detail h2 {
    font-size: 25px;
}

.detail {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media (max-width: 800px) {
    .image-background {
        height: 210px;
    }
}

/* Detalhes
---------------------------------*/
.anime-details {
    -moz-webkit-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    display: flex;
}

.anime-header, .anime-poster {
    flex-direction: row;
}

.categorias {
    display: table-row;
    list-style: none;
}

.categorias li {
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #FFF;
    background: #3c4651;
    padding: 3px 5px;
    -moz-webkit-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
}

.categorias li:hover {
    background: rgba(255, 255, 255, 0.2);
    -moz-webkit-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.cover {
    margin-left: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media (max-width: 700px) {
    .anime-details {
        flex-direction: column-reverse;
        justify-content: center;
        -moz-webkit-transition-duration: .5s;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
    }

    .cover {
        margin-left: 0;
    }
}

@media (max-width: 340px) {
    .cover {
        width: 100%;
    }
}

/* Tabela de episódios
---------------------------------*/

.conteudoAnime table {
    width: 100%;
    color: white;
}

.conteudoAnime table td {
    padding: 5px;
    margin: 10px 0;
    border-bottom: 1px solid #4a545e;
    line-height: 32px;
}

.conteudoAnime table .Ep {
    color: #CCCCCC;
    text-align: right;
}

.conteudoAnime table .Ep, .conteudoAnime table .anime-checked {
    width: 5%;
}

.conteudoAnime table tr:last-child td {
    border-bottom: none;
}

.anime-checked img {
    width: 20px;
    margin-top: 5px;
    margin-bottom: -5px;
}