@import "stylesheet.css";
.iframe-container iframe {
    width: 100%;
    height: calc(100vh - 100px);
    border: 0;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: transparent;
}

body {
    font-family: 'Roboto';
    overflow: hidden;
}

::-webkit-scrollbar-thumb {
    background: #4A545E;
}

::-webkit-scrollbar {
    width: 5px;
    background: #2B2B2B;
}

.main-block {
    padding-top: 100px;
    background: transparent;
}

a {
    text-decoration: none;
    color: #4A545E;
}

.detail {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 20px;
    height: calc(100vh - 50px);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
}

.detail h2 {
    font-size: 30px;
}

.image-background {
    background: black;
    position: fixed;
    width: 100%;
    height: 350px;
    z-index: -1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.button-back {
    border: 0px;
    background: transparent;
    z-index: 999;
    position: fixed;
    margin: 15px;
}

.button-back img {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 24px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.minificado .iframe-container {
    margin-top: -50px !important;
}

.minificado .detail {
    height: 100vh;
    box-shadow: none;
    margin-top: 0px;
    background: #1C1C1C;
    padding: 0px;
    padding-right: 15px;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.minificado .detail h2 {
    font-size: 25px;
}

.detail {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media (max-width: 800px) {
    .image-background {
        height: 210px;
    }
}

/* Tabela de episódios
---------------------------------*/

.conteudoAnime table {
    width: 100%;
    color: white;
}

.conteudoAnime table td {
    padding: 5px;
    margin: 10px 0;
    border-bottom: 1px solid #4a545e;
    line-height: 32px;
}

.conteudoAnime table td:first-child {
    color: #CCCCCC;
    text-align: right;
}

.conteudoAnime table td:first-child, .conteudoAnime table td:last-child {
    width: 5%;
}

.conteudoAnime table tr:last-child td {
    border-bottom: none;
}